body {
    margin:0;
    padding:0;
}

/** Navbar ================================================= */
nav {
    z-index: 1;
}

.navbar-brand
{
  background: url(../images/morphocode-logo.jpg) no-repeat 10px 15px;
  text-indent: -1000px;
  height: 50px;
  width: 200px;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    z-index: 0;
}



/** Map Controls ========================================== */

body.thumb-drag {
    cursor: e-resize;
}

#map-controls {
    margin-top: 50px;
    position: absolute;
    top: 0;
    font: 10px sans-serif;
}

#map-controls svg {
    background: white;
    opacity: 0.8;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

circle.thumb  {
  fill: lightgray;
  cursor: pointer;
}

circle.thumb:hover  {
    fill: darkgray;
}

circle.thumb.dragging {
    fill: darkgray;
}

.guideline {
    stroke: gray;
    stroke-width: 0.5px;
}

.marker circle {
    fill: #666;
}

.mc-tooltip {
    position: absolute;
    z-index: 2;
}

/** disable events for the tooltip */
.mc-tooltip {
    pointer-events:none;
}

.mc-tooltip-contents:before {
    position: absolute;
    display: none;
    content: "";
    border-color: #f3f3f3 transparent transparent transparent;
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
    left: -7px;
    top: -13px;
}


.mc-tooltip-contents {
    color: #333;
    background: white;
    border: 1px solid #eee;
    padding: 2px;
    margin-top: -25px;
    margin-left: -18px;
    width: 36px;
    text-align: center;
}

#scroll-thumb {
    background-color: #999;
    cursor: e-resize;
    height: 25px;
    padding: 0.5em;
    /*margin-left: -25px;*/
    position: absolute;
    bottom: 0;
    width: 50px;
    z-index: 3;
}