body {
    margin:0;
    padding:0;
}

/** Navbar ================================================= */
nav {
    z-index: 1;
}

.navbar-brand
{
  background: url(../images/morphocode-logo.jpg) no-repeat 10px 15px;
  text-indent: -1000px;
  height: 50px;
  width: 200px;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    z-index: 0;
}



/** Map Controls ========================================== */

body.thumb-drag {
    cursor: e-resize;
}

#map-controls {
    margin-top: 50px;
    position: absolute;
    top: 0;
    font: 10px sans-serif;
}

#map-controls svg {
    background: white;
    opacity: 0.9;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis path {
  fill: none;
  stroke: none;
}

.y.axis line {
  stroke: #ccc;
  stroke-dasharray: 2,2;
}

.selection {
    cursor: move;
    fill: #0099ff;
    opacity: 0.2;
}


.marker .guideline {
    stroke: gray;
    stroke-width: 0.5px;
}

.marker.drag .guideline {
    stroke: black;
}

.marker .dot {
    fill: #666;
}

.marker.drag .dot {
    fill: black;
}

.v-tooltip {
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    /** disable events for the tooltip */
    pointer-events: none;
}

.v-tooltip-contents {
    bottom: 0;
    color: #333;
    background: white;
    border: 1px solid #eee;
    padding: 2px;
    margin: 2px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.range-start .v-tooltip-contents {
    right: 0;
}

.range-end .v-tooltip-contents {
    left: 0;
}

.slider-thumb {
    background-color: #999;
    bottom: 3px;
    color: white;
    cursor: e-resize;
    height: 15px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 3;
}

.slider.drag .slider-thumb, .slider-thumb:hover {
    background-color: #0099ff;
}

.slider.drag .v-tooltip, .slider:hover .v-tooltip {
    opacity: 1;
}

.slider.range-end .slider-thumb {
    margin-left: 24px;
}

.slider.range-start .slider-thumb {
    margin-left: -4px;
}

.slider .slider-thumb:before {
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
    height: 0;
    width: 0;
    top: 15px;
}

.slider.range-end .slider-thumb:before {
    border-color: #999 transparent transparent transparent;
    border-width: 20px 30px 0 0;
    right: 0px;
}

.slider.range-end  .slider-thumb:hover:before, .slider.range-end.drag .slider-thumb:before {
    border-color: #0099ff transparent transparent transparent;
}

.slider.range-start .slider-thumb:before {
    border-color: transparent #999 transparent transparent;
    border-width: 0 30px 20px 0;
    right: 0px;
}

.slider.range-start  .slider-thumb:hover:before, .slider.range-start.drag .slider-thumb:before {
    border-color: transparent #0099ff transparent transparent;
}


