/*
@font-face {
    font-family: 'texgyreherosbold';
    src: url('font/texgyreheros-bold-webfont.eot');
    src: url('font/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyreheros-bold-webfont.woff') format('woff'),
         url('font/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('font/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreherosregular';
    src: url('font/texgyreheros-regular-webfont.eot');
    src: url('font/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/texgyreheros-regular-webfont.woff') format('woff'),
         url('font/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('font/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');

    font-weight: normal;
    font-style: normal;
}*/

/**@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,400);*/
/**@import url(http://fonts.googleapis.com/css?family=Arimo);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    margin:0;
    padding:0;
    overflow: hidden;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Roboto', 'texgyreherosregular', 'Helvetica Neue', 'Arial', sans-serif;
}

#top-link {
    display: none;
    background: rgba(93, 93, 93, 0.7);
    height: 40px;
    position: fixed;
    right: 35px;
    text-align: center;
    bottom: 20%;
    color: #FFF;
    width: 40px;
    padding: 2px 8px 6px;
    font-size: 32px;
    z-index: 99;
}

#top-link.active {
    display: block;
}

#top-link .fa {
    vertical-align: text-top;
}

/*
h1 {
    font-family: Roboto, Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
}*/

/** Navbar ================================================= */
nav {
    z-index: 1;
}

.navbar-brand
{
    padding-left: 30px;
    height: 50px;
    width: 200px;
}

.navbar-brand img {
    margin-top: -5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.mapboxgl-ctrl-nav {
    display: none;
    top: 210px;
    left: 30px;
    right: auto;
}

.mapboxgl-ctrl-attrib {
    bottom: 15px;
    font-size: 11px;
    color: #999;
    right: 30px;
}

/*
.mapboxgl-ctrl-nav a.mapboxgl-ctrl-nav-zoom-in, .mapboxgl-ctrl-nav a.mapboxgl-ctrl-nav-zoom-out {
    display: none;
}*/


/** Map Controls ========================================== */

body.thumb-drag {
    cursor: e-resize;
}

#map-controls {
    display: none;
    margin-top: 50px;
    position: absolute;
    top: 0;
    font: 10px sans-serif;
    width: 100%;
}

#map-controls.collapsed {
    margin-top: -55px;
}

#map-controls svg {
    background: white;
    opacity: 0.9;
    width: 100%;
}

.buttons {
    text-align: center;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

path.area#active-area {
  /*fill: rgb(177, 224, 236);*/
  fill: #eee;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis.bottom line {
  stroke: #bbb;
}

.x.axis.bottom text {
    display: none;
}

.x.axis path {
  display: none;
}

.x.axis text {
    fill: #666;
}

.y.axis path {
  fill: none;
  stroke: none;
}

.y.axis line {
  stroke: #bbb;
  stroke-dasharray: 1,3;
}

.y.axis text {
    fill: #666;
}

.selection {
    cursor: move;
    fill: rgb(255, 232, 170);
    opacity: 0.2;
}

.marker .guideline {
    stroke: black;
    stroke-width: 0.5px;
}

.marker.drag .guideline {
    stroke: black;
}

.marker .dot {
    fill: #666;
}

.marker.drag .dot {
    fill: black;
}

.v-tooltip {
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    /** disable events for the tooltip */
    pointer-events: none;
}

.v-tooltip-contents {
    bottom: 0;
    color: #333;
    background: white;
    border: 1px solid #eee;
    padding: 2px;
    margin: 2px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.range-start .v-tooltip-contents, .range-end .inverse .v-tooltip-contents {
    left: auto;
    right: 0;
}

.range-end .v-tooltip-contents, .range-start .inverse .v-tooltip-contents {
    left: 0;
    right: auto;
}

.slider-thumb {
    background-color: #888;
    bottom: 2px;
    color: white;
    cursor: e-resize;
    height: 20px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 0;
    /** fix for firefox */
    top: 110px !important;
}

.slider-thumb .year {
    line-height: 20px;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.slider.drag .slider-thumb, .slider-thumb:hover {
    background-color: rgb(93, 92, 93);
}

.slider.drag .v-tooltip, .slider:hover .v-tooltip {
    opacity: 1;
}

.slider.range-end .slider-thumb {
    margin-left: 0;
}

.slider.range-start .slider-thumb {
    margin-left: -30px;
}

.slider .slider-thumb:before {
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
    height: 0;
    width: 0;
    top: 20px;
}

.slider.range-end .slider-thumb:before {
    border-color: #888 transparent transparent transparent;
    border-width: 15px 30px 0 0;
    right: 0px;
}

.slider.range-end  .slider-thumb:hover:before, .slider.range-end.drag .slider-thumb:before {
    border-color: rgb(93, 92, 93) transparent transparent transparent;
}

.slider.range-start .slider-thumb:before {
    border-color: transparent #888 transparent transparent;
    border-width: 0 30px 15px 0;
    right: 0px;
}

.slider.range-start  .slider-thumb:hover:before, .slider.range-start.drag .slider-thumb:before {
    border-color: transparent rgb(93, 92, 93) transparent transparent;
}


/* custom introjs ================================================================================ */
.introjs-helperNumberLayer {
    display: none;
}

.introjs-tooltiptext {
    text-align: left;
}

.introjs-tooltiptext h4 {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.introjs-tooltiptext p {
    font-size: 1em;
}

.introjs-tooltipbuttons {
    margin-top: 20px;
    text-align: right;
 }

.introjs-button {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1em;
    margin: 0 2px;
    text-transform: uppercase;
    text-shadow: none;
    outline: none !important;
}

.introjs-nextbutton, .introjs-nextbutton:focus {
    background: rgb(82, 186, 213);
    border-color: #999;
    color: white;
    text-decoration: none;
}

.introjs-nextbutton:hover {
    background: rgb(44, 154, 183);
    color: white;
}

.introjs-skipbutton {
    display: none;
}

.intro-last .introjs-skipbutton {
    display: inline;
    float: right;
    background: rgb(114, 193, 176);
    color: white;
}

.intro-last .introjs-skipbutton:hover {
    background: rgb(68, 154, 136);
}

/** fix issue with introjs boundary calculation */
.intro-slider .introjs-helperLayer {
    height: 45px !important;
}

/** switch the position of the tooltip if there's no space to the left */
.intro-slider-inverse .introjs-tooltip {
    left: 50px !important;
    right: auto !important;
}

.intro-slider-inverse .introjs-arrow {
    display: none !important;
}

.introjs-button.introjs-disabled {
    display: none;
}

.introjs-tooltip {
    min-width: 300px;
    max-width: 300px;
}

.mode-map nav .btn-explore, .mode-team nav .btn-team, .mode-about nav .btn-about, .mode-learn nav .btn-learn {
    color: rgb(55, 55, 55) !important;
}




/** layout ============================================================================== */

.navbar-nav>li>a {
    outline: 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a , .dropdown-menu>li>a {
    font-weight: bold;
    color: #999;
}

li.explore-menu, li.share-menu-item {
    display: none;
}

.btn {
    border: 2px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none !important;
}

.btn:hover {
    border: 2px solid;
    margin-top: 10px;
}

.btn.btn-primary {
    background: rgb(82, 186, 213);
    border-color: rgb(82, 186, 213);
}

.btn.btn-primary:hover {
    background: rgb(109, 197, 220);
    border-color: rgb(109, 197, 220);
    color: white;
}

.btn.btn-default {
    background: transparent;
    border-color: rgb(183, 183, 183);
    color: rgb(93, 92, 93);
}

.btn.btn-default:hover {
    background: transparent;
    border-color: rgb(93, 92, 93);
    color: rgb(93, 92, 93);
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.nav>li.follow-buttons {
    max-height: 50px;
}

.nav>li.share-menu-item a {
    padding-right: 5;
}

.nav>li.share-buttons {
    padding-left: 10px;
}

.addthis_16x16_style {
    padding-top: 17px;
}

.nav>li a#button-project-of {
    color: #999;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 0 0 0;
}

.navbar-right {
    max-height: 50px;
}

/** Toolbar */

#btn-morphocode {
    opacity: 0.55;
}

#btn-morphocode:hover {
    opacity: 1.0;
}

/** This wraps the content part providing scroll overflow (our body has hidden overflow because of the map) */
#content-wrapper {
    position: absolute;
    top: 54px;
    bottom: 0;
    width: 100%;
    height: calc(100% - 54px);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/** Application Modes: Control what is visible and what is not */
.mode-map #content-wrapper, .mode-intro #content-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -webkit-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -moz-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -o-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -ms-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
}

.mode-map #map-controls, .mode-intro #map-controls,
.mode-map .mapboxgl-ctrl-nav, .mode-intro .mapboxgl-ctrl-nav,
.mode-map .show-on-map, .mode-intro .show-on-map {
    display: block;
}

/** Enable only when the map is visible */
.show-on-map {
    display: none;
}

/** Content Sections */
.section {
    padding: 30px 0 40px 0;
    background-color: rgb(255,255,255);
}

.section h1 {
    font-size: 80px;
    font-weight: 100;
    text-align: center;
}

.blue {
    /*background-color: rgb(44, 154, 183);*/
    /*background-color: rgb(82, 186, 213);*/
    /*background-color: rgba(109, 197, 220, 0.9);*/
    /*background: linear-gradient(to right, #49c4db 0%, #64e6fe 100%);*/
    /*background-color: rgb(114, 193, 176);*/
    background-color: rgba(82, 186, 213, 0.8);
    color: white;
    /*color: #1d767f;*/
}

.blue h1 {
    color: white;
}

.blue h1 span {
    color: #1d767f;
}

.blue a {
    color: white;
    font-weight: 700;
}

.blue .btn.btn-primary {
    background: white;
    border-color: white;
    color: rgb(82, 186, 213);
}

.blue .btn.btn-primary:hover {
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    color: rgb(93, 92, 93);
}

.blue .btn.btn-default {
    background: transparent;
    border-color: white;
    color: white;
}

.blue .btn.btn-default:hover {
    background: white;
    border-color: white;
    color: rgb(82, 186, 213);
}

.gray {
    background-color: rgb(242, 243, 242);
}

blockquote  {
    font-size: 1.4em;
    border-left: 0;
    padding: 20px 0;
}

blockquote footer {
    margin-top: 30px;
    font-size: 100%;
    font-weight: bold;
    color: rgb(183, 183, 183);
}

/** Content pages are not visible by default. The corresponding mode should be enabled in order to see them */
.content-page {
    /*display: none;*/
}

/** Welcome =========================================== */
/** We're using table, table-row and table-cell in order to fill all of the available space */
/*.mode-welcome */#welcome {
    display: table;
}

#welcome {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#welcome .buttons {
    height: 70px;
    margin-top: 70px;
}

#btn-get-started-not-supported {
    display: none;
}

#welcome .row-wrapper {
    display: table-row;
}

#welcome-header {
    background-color: rgba(82, 186, 213, 0.8);
    display: table-cell;
    padding: 80px 0;
    text-align: center;
}

#welcome-header h1 {
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: 100;
}

#welcome-header h2 {
    color: white;
    font-size: 30px;
    font-weight: 100;
}

#welcome-details {
    background-color: rgba(255, 255, 255, 1);
    display: table-cell;
    padding: 50px;
}

#welcome-details .info {
    text-align: center;
}

#welcome-details .info p {
    font-size: 1.3em;
}

#welcome-details .info .lead-icon {
    color: rgb(183, 183, 183);
    font-size: 80px;
}

/** Not Supported =========================================== */
.mode-not-supported #not-supported {
    display: table;
}

.mode-not-supported #map {
    background: url('../images/urban-layers-no-support-bg.jpg');
    background-size: cover;
}

.mode-not-supported #btn-get-started-loader {
    display: none;
}

.mode-not-supported #btn-get-started-not-supported {
    display: inline-block;
}

#not-supported {
    display: none;
    width: 100%;
    height: 100%;
}

#btn-not-supported-watch-demo {
    display: none;
}

.section-not-supported {
    background: rgba(238, 131, 110, 0.8);
    display: table-row;
    text-align: center;
}

.section-not-supported .container {
    display: table-cell;
    vertical-align: middle;
}

.section-not-supported h1 {
    color: white;
}

.section-not-supported h2 {
    color: white;
    font-weight: 100;
}

.section-not-supported .btn.btn-primary {
    background: transparent;
    border-color: white;
    color: white;
}

.section-not-supported .btn.btn-primary:hover {
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    color: rgb(238, 131, 110);
}

.section-not-supported .buttons {
    margin: 40px 0 20px 0;
}

/** About the Project ===================================== */
/*.mode-about */#about {
    display: block;
}*/

#about {
    min-height: 100%;
}

p {
    font-size: 1.3em;
}

#about h1 {
    margin-bottom: 40px;
    text-align: center;
}

#about h2 {
    margin-top: 40px;
}

img.illustration {
    width: 100%;
}

#about h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}

.section-quote {
    background-color: rgba(93,92,93,0.6);
    color: white;
    padding: 100px 0;
    text-align: center;
}

.section-quote blockquote footer {
    color: white;
}

.gallery {
    margin-top: 30px;
}

.gallery img {
    margin-top: 20px;
    width: 100%;
}

.gallery p {
    font-size: 1em;
    margin: 10px 0;
}

/** Press Downloads ================================================= */
#press-downloads .buttons {
    margin: 40px 0 20px 0;
}

#press-downloads #btn-download-pdf {
    display: none;
}

/** Learn ================================================= */
/*.mode-learn */#learn {
    display: table;
}

#learn {
    width: 100%;
    height: 100%;
}

.section-learn {
    background-color: white;
    display: table-row;
    text-align: center;
}

.section-learn .container {
    display: table-cell;
    vertical-align: middle;
}

.section-learn img {
    max-width: 1050px;
}

.section-learn h1 {
    color: rgb(82, 186, 213);
}

.section-learn h2 {
    color: rgb(93, 92, 93);
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.section-learn .buttons {
    margin-top: -50px;
    margin-bottom: 50px;
}

/** Team ==================================== */
/*.mode-team */#team {
    display: table;
}

#team {
    background-color: rgba(82, 186, 213, 0.8);
    width: 100%;
    height: 100%;
}

.section-team {
    background-color: transparent;
    display: table-row;
    text-align: center;
}

.section-team .row {
    display: table-cell;
    vertical-align: middle;
    padding: 80px 0;
}

.section-team h1 {
    color: white;
}

.section-team h1 span {
    color: rgb(82, 186, 213);
}

.section-team h2 {
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}


ul.attribution {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
}

ul.attribution li {
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
}

ul.attribution li:last-child {
    border: 0;
}

.section.subscribe h2 {
    text-align: center;
}

.section-morphocode {
    color: rgb(93, 92, 93);
    background-color: rgb(242, 242, 242);
    padding: 150px 0;
    text-align: center;
}

.section-morphocode h2 {
    text-transform: uppercase;
    color: rgb(183,183,183);
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
}

a#morphocode-logo {
    opacity: 0.9;
}

a#morphocode-logo:hover {
    opacity: 1;
}

.subscribe-form {
    border-top: 1px solid #ccc;
    margin-top: 60px;
    padding-top: 40px;
}

.subscribe-form h2 {
    margin-bottom: 20px;
}

.social a {
    font-size: 1.2em;
    color: rgb(183, 183, 183);
    padding: 0;
}

.social a:hover {
    color: rgb(93, 92, 93);
}


#legend {
    padding: 10px;
    position: absolute;
    bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    left: 30px;
    width: 500px;
}

#legend ul {
    margin: 0;
    padding: 10px 0 ;
}

#legend ul li {
    border-top-width: 5px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding: 0;
}

#legend h4 {
    color: #666;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

#legend .note {
    border-top: 1px solid #ddd;
    color: #999;
    font-size: 11px;
    padding-top: 3px;
}

#legend .note span {
    float: right;
}

.ladda-button[data-style=contract] {
    width: auto;
}

.ladda-button[data-style=contract][data-loading] {
    height: 63px;
    width: 63px;
}

.ladda-button[data-style=contract] .ladda-progress {
    background: white;
    border-radius: 50%;
    /** we're using clip, so override default behavior */
    width: 63px !important;
}

.ladda-button[disabled], .ladda-button[data-loading], .ladda-button[disabled]:hover, .ladda-button[data-loading]:hover {
    background: #ddd !important;
    border: none;
    opacity: 1;
}



